/* Tipo de letra Roboto: usar con font-family: 'Roboto' */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

/* Custom properties de CSS (como variables), aplicadas a todo (:root) */
:root {
	--color-texto: #333333;
	--color-destacado: #ff6666;
	--color-separador: #aaaaaa;
}

.ficha {
	font-family: 'Roboto', sans-serif;
}

.ficha img {
	display: block;   /* Lo activamos para que funcione el centrado posterior */
	margin: 1em auto; /* Centramos la imagen */
    border: 1px solid var(--color-texto); /* Encuadramos la imagen en un border */
}

.ficha-texto {
	border-top: 1px solid var(--color-separador); /* Línea separadora entre imagen y texto de las fichas */
    padding-top: 1em;
    
    display: flex; /* Necesario para que los elementos de dentro puedan hacer margin auto */
}

.corazon {
	margin-left: auto; /* Depende de display: flex en el contenedor */
}

.titulo, .corazon {
	color: var(--color-texto);
}

.autor {
	font-weight: bold;
	text-transform: uppercase;
}

.precios {
	font-size: 1.2em;
}

.precios * {
	margin-right: 0.25em; /* Separación entre los tres bloques de precio */
}
.precio {
	color: var(--color-destacado);
}

/* INICIO tachado del precio */
.precio-sin-descuento {
    position: relative;
    
    color: var(--color-texto);
}
 
.precio-sin-descuento:before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    right: 0;
    border-top: 1px solid; /* Grosor de la raya y patrón de la misma */
    border-color: var(--color-texto); /* Color de la raya */
    
    transform:rotate(-20deg); /* Aquí se controla el ángulo de la raya */
}
/* FIN tachado del precio */

.descuento {
	background-color: var(--color-destacado);
	color: white;
	padding: 0.25em;
}

.decimales {
	font-size: 0.75em;
}