<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Login</title>
</head>

<link rel="stylesheet" href="/css/estilos.css" />

<body>

<p class="error" th:text="${error}" />
<img class="error" th:src="${errorimg}" />

<form action="login" method="post" th:object="${usuario}">
	<div>
		<label for="email">Email</label>
		<input type="email" name="email" th:field="*{email}" />
	</div>
	<div>
		<label for="password">Password</label>
		<input type="password" name="password" />
	</div>
	<div>
		<button>Aceptar</button>
	</div>
</form>

</body>
</html>