<html lang="es" xmlns:th="https://www.thymeleaf.org">
<head>
<title>Importar CSV</title>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>

	<header class="jumbotron jumbotron-fluid mb-0">
		<div class="container">
			<h1 class="display-4">Importar CSV</h1>
			<p class="lead">Introduce el fichero para importar en la tabla
				Alumno.</p>
		</div>
	</header>

	<div th:if="${alertaMensaje}">
		<div
			th:class="|alert alert-${alertaNivel} alert-dismissible fade show rounded-0|"
			role="alert">
			<span th:text="${alertaMensaje}"></span>
			<button type="button" class="close" data-dismiss="alert"
				aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
	</div>

	<main class="container-fluid">

		<form method="POST" enctype="multipart/form-data" action="/">
			<fieldset>
				<legend>Importar CSV</legend>
				<div class="custom-file">
					<input type="file" class="custom-file-input" id="ficherocsv"
						name="ficherocsv"> <label data-browse="Elegir"
						class="custom-file-label" for="ficherocsv">Seleccionar
						Archivo</label>
				</div>
				<div class="d-flex">
					<input class="ml-auto btn btn-primary" type="submit" value="Importar" />
				</div>
			</fieldset>
		</form>

	</main>
	
	<footer class="navbar navbar-dark bg-dark fixed-bottom">
		<span class="navbar-text">&copy;2020 Javier Lete</span>
	</footer>
	<!-- jQuery and Bootstrap Bundle (includes Popper) -->
	<script th:src="@{/js/jquery-3.5.1.slim.min.js}"></script>
	<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
